<launch>
  <arg name="sim" default="true" />

  <node pkg="giskard_examples" type="whole_body_controller" name="whole_body_controller" output="screen">
    <rosparam command="load"
      file="$(find giskard_examples)/config/boxy_whole_body_controller.yaml"/>
    <param name="controller_descriptions/cart_cart" 
      textfile="$(find giskard_examples)/controller_specs/boxy_cart_cart_control.yaml" />
    <param name="controller_descriptions/joint_joint" 
      textfile="$(find giskard_examples)/controller_specs/boxy_joint_joint_control.yaml" />
    <param name="controller_descriptions/joint_cart" 
      textfile="$(find giskard_examples)/controller_specs/boxy_joint_cart_control.yaml" />
    <param name="controller_descriptions/cart_joint" 
      textfile="$(find giskard_examples)/controller_specs/boxy_cart_joint_control.yaml" />
    <remap from="~joint_states" to="/joint_states" />
  </node>

  <group if="$(arg sim)" >
    <node pkg="giskard_examples" type="float_array_separator" name="velocity_cmd_separator" output="screen" >
      <rosparam param="joint_names"
        file="$(find giskard_examples)/config/boxy_upper_body.yaml" />
      <remap from="~input_array" to="/whole_body_controller/velocity_cmd" />
    </node>
  </group>

  <node pkg="giskard_examples" type="controller_action_server" name="controller_action_server" 
        output="screen">
    <remap from="~command" to="whole_body_controller/goal" />
    <remap from="~feedback" to="whole_body_controller/feedback" />
    <rosparam command="load"
      file="$(find giskard_examples)/config/boxy_controller_action_server.yaml" />
  </node>
</launch>
