<launch>
  <arg name="plot" default="false" />

  <node pkg="giskard_examples" type="whole_body_interactive_markers"
        name="whole_body_interactive_markers" output="screen">
    <param name="left_ee_frame_id" value="l_gripper_tool_frame" />
    <param name="left_ee_name" value="LEFT GRIPPER" />
    <param name="right_ee_frame_id" value="r_gripper_tool_frame" />
    <param name="right_ee_name" value="RIGHT GRIPPER" />
    <param name="action_name" value="/controller_action_server/move" />
  </node>

  <node pkg="giskard_examples" type="goal_marker_viz" name="command_viz" >
    <remap from="~goal" to="/whole_body_controller/current_command" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find giskard_examples)/config/pr2_interactive.rviz" />

  <group if="$(arg plot)" >
    <node pkg="giskard_examples" type="whole_body_plot.py" name="whole_body_plot" output="screen" />
  </group>
</launch>
