<launch>
  <arg name="plot" default="false" />
  <arg name="rviz" default="true" />

  <node pkg="giskard_examples" type="whole_body_interactive_markers"
        name="whole_body_interactive_markers" output="screen">
    <rosparam command="load"
      file="$(find giskard_examples)/config/pr2_interactive_markers.yaml" />
  </node>

  <node pkg="giskard_examples" type="goal_marker_viz" name="command_viz" >
    <remap from="~feedback" to="/whole_body_controller/feedback" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find giskard_examples)/config/pr2_interactive.rviz" if="$(arg rviz)" />

  <group if="$(arg plot)" >
    <node pkg="giskard_examples" type="whole_body_plot.py" name="whole_body_plot" output="screen" />
  </group>
</launch>
